.eWebMetrics{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.container{
    width: 90%;
    text-align: center;
}
.container h2{
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
.container p{
    font-size: 24px;
    text-align: center;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}
.card{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 150px;
}
.card p{
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}
.imgContainer{
    position: relative;
    width: 400px;
    height: 100%;
}
.container a{
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .card{
        width: 80%;
        font-size: 26px;
        flex-direction: column;
        margin-bottom: 90px;
        height: fit-content;
    }
    .imgContainer{
        width: 250px;
        height: 150px;
    }
    .card p{
        font-size: 26px;
        text-align: center;
    }
    .eWebMetrics{
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 820px) {
    .container h2{
        font-size: 36px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 820px) {
    .container a{
        font-size: 32px;
    }
}
@media screen and (max-width: 450px) {
    .container h2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .card p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .card{
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    .container a{
        font-size: 20px;
    }
}