.eWebCard{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lightBack);
    margin-top: 200px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    margin: 0 0 0 auto;
}
.imgContainer{
    position: absolute;
    /* width: 1200px;
    height: 800px; */
    right: -350px;
}
.textContainer{
    z-index: 10;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textContainer h2{
    font-size: 96px;
    font-weight: 600;
}
.subtitle{
    font-size: 28px;
}