.blogPost{
    min-height: 100vh;
    margin-top: 150px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.titles{
    text-align: center;
}
.container h1{
    text-align: center;
    font-size: 64px;
}
.container h2{
    text-align: center;
    margin: 20px 0;
}
.imgContainer{
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 300px;
    margin: 20px 0 40px 0;
}
.container {
    text-align: justify;
}
.container p{
    font-size: 20px;
    font-weight: 200;
    line-height: 150%;
    margin-bottom: 15px;
}
.container h3{
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0 15px 0;
}