.mainHeader{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
background: rgba(79, 79, 79, 0.149);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .mainNav  .mainUl{
    display: flex;
    gap: 20px;
    /* align-items: center; */
}
.container .mainNav .mainUl li{
    list-style: none;
}
.container .mainNav .mainUl li a{
    color: var(--white);
    text-decoration: none;
}
.mobileNav .mainUl li{
    list-style: none;
}
.mobileNav .mainUl li a{
    color: var(--white);
    text-decoration: none;
}
.container p{
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 200;
}
.blue{
    color: var(--blue);
    font-weight: 600;
}

.serviceNav{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px 40px 40px 10px;
    padding-top: 40px;
    width: 200px;
    display: none;
    gap: 20px;
    transition:all 20s;
    background: rgba(34, 172, 172, 0.729);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.serviceNavMobile{
    padding-top: 20px;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
}
.serviceNavMobile li{
    padding-left: 15px;
}
.mainNav .mainUl .productLi:hover > .serviceNav{
    display:flex;
}
.serviceNav li{
    text-align: left;
    width: 100%;
    color: var(--blue);
}
.serviceNav li a{
    color: var(--blue);
}
.hamb{
    display: none;
}
.mobileNav{
    display: none;
}
@media screen and (max-width: 1024px) {
    .mainHeader{
        display: flex;
        flex-direction: column;
        min-height: none;
        max-height: none;
        /* height: fit-content; */
        z-index: 300;
    }
    .container{
        min-height: 100px;
    }
    .container .mainNav{
        display: none;
    }
    .mobileNav{
            display: none;
            background: #315e5ee8;
            /* background: rgba(13, 13, 13, 0.842); */
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.1px);
            -webkit-backdrop-filter: blur(5.1px);
           border-bottom-left-radius: 10px;
           border-bottom-right-radius: 10px;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            padding: 20px 0;
            /* z-index: 800; */
            /* position: relative; */
            transition: all 3s;
    }
    .open{
        display: flex;
    }
    .mobileNav .mainUl{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            gap: 30px;
            font-size: 28px;
            font-weight: 500;
            
    }
    /* .mobileNav .mainUl li a{
        font-size: 24px;
    } */
    .hamb{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
    }
    .hamb div{
        height: 3px;
        width: 50px;
        background: var(--white);
        border-radius: 5px;
    }
    .hamb p{
        font-size: 16px;
    }

}
@media screen and (max-width: 450px) {
    .hamb{
        gap: 8px
    }
    .mainHeader{
        height: 80px;
    }
    .hamb div{
        height: 2px;
        width: 30px;
        background: var(--white);
        border-radius: 5px;
    }
    .container p{
        font-size: 18px;
    }
}