.ePrintCard {
    width: 100%;
    margin-top: 150px;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.subTitle2{
    font-size: 64px;
    font-weight: 200;
    text-align: center;
}
.proyectContainer{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}
.card{
    width: 550px;
}
.card{
    text-align: center;
}
.card h3{
    color: var(--blue);
    font-weight: 600;
    font-size: 18px;
}
.card p{
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}